<main>
    
    <div class="menu-stats">
        <h1>Current Player: {{ player }} M: {{noOfMoves}}</h1>
        <div class="stats-win">
            <h2>X wins: {{ totalWinsX }}</h2>
            <h2>O wins: {{ totalWinsO }}</h2>
            <h2>&nbsp;Draws: {{ totalDraws }}</h2>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="newGame()">New Game</button>
    <button mat-raised-button color="warn" (click)="Reset()">Reset</button>

    <h2 *ngIf="winner">
        Player {{winner}} Won the Game!
    </h2>
    
    <mat-divider></mat-divider>

    <div class="board">
        <app-square *ngFor="let val of squares; let i = index;"
            [value]="val"
            (click)="playMove(i)">
        </app-square>
    </div>
</main>