<main>
    
    <div class="menu-stats">
        <h1>Current Player: {{ player }} | M: {{ noOfMoves }}</h1>
        <div class="stats-win">
            <h6>X wins: {{ totalWinsX }}</h6>
            <h6>O wins: {{ totalWinsO }}</h6>
            <h6>&nbsp;Draws: {{ totalDraws }}</h6>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="newGame()">New Game</button>
    &nbsp;
    <button mat-raised-button color="warn" (click)="Reset()">Reset</button>

    <h2 class="alert-success" *ngIf="winner">
        Player {{winner}} Won the Game!
    </h2>
    
    <mat-divider style="margin: 10px 0 10px 0;"></mat-divider>

    <div class="board">
        <app-square *ngFor="let val of squares; let i = index;"
            [value]="val"
            (click)="playMove(i)">
        </app-square>
    </div>
</main>